.card {
  width: 300px;

  &__img {
    display: flex;
    width: 100%;
  }

  &__text {
    margin-left: 20px;
  }

  &__name {
    color: white;
    padding: 20px 0 5px 0;
  }

  &__species {
    color: white;
    padding: 5px 0 5px 0;
  }
}

.card__img img {
  justify-content: center;
  width: 100%;
}
