.characters {
  padding: 30px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: repeat(480px);
  grid-gap: 40px;
  text-align: left;
  justify-content: center;
  margin: 10px;
  width: 300px;

  @media all and (max-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }

  @media all and (max-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }

  @media all and (max-width: 500px) {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    padding: 50px;
    font-size: 28px;
    color: white;
  }

  &__img {
    height: 300px;
  }
}
